<section class="about">
  <img
    class="about-section-img"
    src="/img/about/about-img.jpg"
    alt="profile of a woman"
  />
  <div class="about-sub-section-container container">
    <h2 class="about-title">ABOUT</h2>
    <div class="about-text-container">
      <div class="about-text">Welcome,</div>
      <div class="about-text">
        I’m Edna Shindinde, personal style advisor & wardrobe editor.
      </div>
      <div class="about-text">
        I help women embrace their value by teaching how to build a staple
        wardrobe in line with their inner power and beauty.
      </div>
      <div class="about-text">
        The greatest flair of mine is to see talent and strength behind every
        woman I meet. Whether you build a career, take care of a family, own a
        business or enjoy life by your rules – you are a high-value woman. You
        set a precedent & should own it proudly!
      </div>
      <div class="about-text reset">
        My vision is for each women to unblushingly celebrate her beauty, to be
        seen and respected without doubting own looks. Styling is just one way
        to achieve that. And I couldn’t ask for a better mission, as to guide
        you on this journey.
      </div>
    </div>
    <ul class="about-container-link">
      <li class="about-link-item">
        <a class="about-link" href="#">SERVICES</a>
      </li>
      <li class="about-link-item">
        <a class="about-link" href="#">TESTIMONIALS</a>
      </li>
      <li class="about-link-item"><a class="about-link" href="#">BOOK</a></li>
    </ul>
  </div>
  <div class="about-banner">
    <h3 class="about-banner-title">
      You are <br />
      always <br />
      enough.
    </h3>
    <p class="about-banner-text">
      Every part of a woman, her every role is equally important and worthy to
      be seen. Not clothes but you are the starting point of a style to
      remember. Let’s manifest that.
    </p>
  </div>
</section>
