<section class="blog">
  <h2 class="blog-title">BLOG</h2>
  <div class="cont">
    <ul class="blog-img-container">
      <li class="blog-item-img">
        <img class="blog-img" src="/img/blog/blog-1.jpg" alt="" />
      </li>

      <li class="blog-item-img">
        <img class="blog-img" src="/img/blog/blog-2.jpg" alt="" />
      </li>
      <li class="blog-item-img">
        <img class="blog-img" src="/img/blog/blog-3.jpg" alt="" />
      </li>
      <li class="blog-item-img">
        <img class="blog-img" src="/img/blog/blog-4.jpg" alt="" />
      </li>
      <li class="blog-item-img">
        <img class="blog-img" src="/img/blog/blog-5.jpg" alt="" />
      </li>
      <li class="blog-item-img">
        <img class="blog-img" src="/img/blog/blog-6.jpg" alt="" />
      </li>
    </ul>
  </div>
  <div class="blog-second-container">
    <h3 class="blog-subtitle">sustainable & mindful wardrobe</h3>
    <p class="blog-text">
      Join my community & let’s explore meaningful topics of conscious fashion
      and styling together.
    </p>
    <button class="blog-btn" type="button">EXPLORE MORE</button>
  </div>
</section>
