<footer class="footer">
  <div class="footer-container container">
    <div class="footer-help-container">
    <svg class="footer-text" width="65" height="10">
      <use class="footer-text-icon" href="/img/sprite.svg#icon-shindinde">
    </svg>
    <span class="footer-copyright" >| </span>
    <span class="footer-copyright">© Copyright 2023</span>
    </div>
    <div>
     <a href="https://www.instagram.com/" target="_blank"
          ><svg class="icon-instagram-footer" width="16" height="16">
            <use href="/img/sprite.svg#icon-instagram" />
          </svg>
        </a>
        </div>
    <!-- <img src="../img/Frame 255.png" alt=""> -->
  </div>
</footer>
