<div class="header-menu-container">
  <header class="header container">
    <nav class="header-nav">
      <a class="header-logo" href="index.html">
        <svg width="91.78" height="24">
          <use href="/img/sprite.svg#icon-logo" />
        </svg>
      </a>
    </nav>
    <button class="mobile-menu-button-close close-btn">
      <svg class="mobile-menu-icon-close" width="32" height="32">
        <use href="/img/sprite.svg#icon-menu-close" />
      </svg>
    </button>
  </header>

  <div class="title-section-container">
    <a class="title-section-link" href="../page-about.html">ABOUT</a>
    <a class="title-section-link" href="../page-approach.html">APPROACH</a>
    <a class="title-section-link" href="../page-services.html">SERVICES</a>
    <a class="title-section-link" href="../page-testimonials.html"
      >TESTIMONIALS</a
    >
    <a class="title-section-link" href="../page-contact.html">CONTACT</a>
    <a class="title-section-link" href="../page-blog.html">BLOG</a>
    <a class="title-section-link" href="">FASHION STYLING</a>
    <a
      class="title-section-link"
      href="https://www.instagram.com/"
      target="_blank"
      ><svg class="title-section-icon-instagram" width="16" height="16">
        <use href="/img/sprite.svg#icon-instagram" />
      </svg>
    </a>
  </div>
</div>
