<div class="backdrop is-hidden" data-modal="modal1">
  <div class="read-more-modal">
    <button class="modal-close-btn" type="button" data-modal-close="modal1">
      <svg class="modal-close-icon" width="32" height="32">
        <use href="../img/sprite.svg#icon-menu-close" />
      </svg>
    </button>
    <div class="reviews-photo-text-container change-margin">
      <img
        class="reviews-photo"
        src="../img/reviews/reviews.png"
        alt="portrait of a woman"
        width="56"
        height="56"
      />
      <div>
        <h3 class="reviews-card-title read-more-title">Nadiya Maltseva</h3>
        <h4 class="reviews-card-suptitle read-more-suptitle">
          Maltseva Consulting
        </h4>
      </div>
    </div>
    <p class="modal-text">
      During a stage in my life, I needed to transition from my corporate attire
      during work hours and floral dresses during leisure time, to a more
      versatile and easy-to-wear style. Edna surprised me by first wanting to
      understand me as a person, not just my daily role. As we sorted through my
      closet, I was apprehensive about having to let go of my favorite pieces.
      However, Edna approached each item with reverence and asked about my
      personal connection and association with it. In the end, we ended up
      donating 70% of the items and did a little shopping. Edna goes beyond just
      putting together an outfit. She taught me to view each item as an
      ingredient that can be used in various combinations, making them
      incredibly satisfying and appealing, resulting in compliments from others
    </p>
  </div>
</div>
