<section class="reviews container" id="testimonials">
  <div class="swiper">
    <ul class="swiper-wrapper swiper-container">
      <li class="swiper-slide">
        <div class="reviews-photo-text-container">
          <img
            class="reviews-photo"
            src="/img/reviews/reviews.png"
            alt="portrait of a woman"
          />
          <div>
            <h3 class="reviews-card-title">Nadiya Maltseva</h3>
            <h4 class="reviews-card-suptitle">Maltseva Consulting</h4>
          </div>
        </div>

        <p class="reviews-card-text">
          During a stage in my life, I needed to transition from my corporate
          attire during work hours and floral dresses during leisure time...
        </p>
        <button class="reviews-card-button" data-modal-open="modal1" href="#">
          Read more
        </button>
      </li>
      <li class="swiper-slide">
        <div class="reviews-photo-text-container">
          <img
            class="reviews-photo"
            src="/img/reviews/reviews.png"
            alt="portrait of a woman"
          />
          <div>
            <h3 class="reviews-card-title">Nadiya Maltseva</h3>
            <h4 class="reviews-card-suptitle">Maltseva Consulting</h4>
          </div>
        </div>

        <p class="reviews-card-text">
          During a stage in my life, I needed to transition from my corporate
          attire during work hours and floral dresses during leisure time...
        </p>
        <button class="reviews-card-button" data-modal-open="modal1" href="#">
          Read more
        </button>
      </li>
      <li class="swiper-slide">
        <div class="reviews-photo-text-container">
          <img
            class="reviews-photo"
            src="/img/reviews/reviews.png"
            alt="portrait of a woman"
          />
          <div>
            <h3 class="reviews-card-title">Nadiya Maltseva</h3>
            <h4 class="reviews-card-suptitle">Maltseva Consulting</h4>
          </div>
        </div>

        <p class="reviews-card-text">
          During a stage in my life, I needed to transition from my corporate
          attire during work hours and floral dresses during leisure time...
        </p>
        <button class="reviews-card-button" data-modal-open="modal1" href="#">
          Read more
        </button>
      </li>
    </ul>
    <div class="swiper-pagination swiper-nav"></div>
  </div>
</section>
