.blog-title {
  padding: 40px 0;
  color: var(--accent-color);
  /* font-family: 'Helvetica Neue', sans-serif; */
  font-size: 12px;
  font-weight: 400;
}

.blog-img-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
}

.blog-item-img {
  flex-basis: calc((100% - 2px) / 3);
}

.blog-second-container {
  padding: 32px 0;
}

.blog-subtitle {
  color: #2d1b0d;
  text-transform: uppercase;
  font-family: var(--secondary-font-family);
  font-weight: 300;
  font-size: 36px;
  line-height: 1;
  margin-bottom: 40px;
}

.blog-text {
  color: #2d1b0d;
  /* font-family: 'Helvetica Neue', sans-serif; */
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 40px;
}

.blog-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 256px;
  height: 48px;
  background-color: transparent;
  border: 1px solid #2d1b0d;
  color: #210803;
}

/*Explore more content*/

.blog-explore-more {
  display: none;
}

.blog-more-text {
  margin-bottom: 25px;
  text-align: justify;
}

.explore-more-first-container {
  margin-bottom: 32px;
}

.explore-more-img {
  /* max-width: 375px; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}

.explore-more-sub {
  margin-bottom: 24px;
  font-weight: 400;
}

.explore-more-artcl {
  font-family: var(--secondary-font-family);
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: #2d1b0d;
  margin-bottom: 24px;
  text-align: right;
  line-height: 1.2;
}

.blog-more-text-lch {
  margin-bottom: 32px;
}

.explore-more-btn-up {
  display: block;
  margin-left: auto;
  background-color: transparent;
  border: none;
  padding: 0;
}

.btn-up {
  margin-bottom: 24px;
}

.arrow-up {
  fill: var(--accent-color);
}
