.form-input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #40382d;
  border-radius: 0%;
  background-color: transparent;
  margin-bottom: 16px;
}

.form-button {
  width: 100%;
  display: block;
  background-color: var(--accent-color);
  padding: 17px 0px;
  border-color: transparent;
  color: #f6f5f1;
  /* font-family: 'Helvetica Neue', sans-serif; */
  font-size: 12px;
  letter-spacing: 2px;
}

.form-img {
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.form-container {
  padding: 32px 32px 64px 32px;
}

.form-title {
  color: #210803;
  /* font-family: 'Helvetica Neue', sans-serif; */
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 24px;
}

.form-label {
  /* font-family: 'Helvetica Neue', sans-serif; */
  font-size: 12px;
  line-height: 1.5;
  color: #2d1b0d;
}

.input-comment {
  margin-bottom: 24px;
}

.mrgn {
  margin-bottom: 16px;
}

.drop-down-list-container {
  display: flex;
  justify-content: space-between;
}

.form-text {
  color: #210803;
  /* font-family: 'Helvetica Neue', sans-serif; */
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 24px;
}

.form-text-last {
  display: flex;
  gap: 16px;
}

.hero-modal-form-container {
  padding-top: 0;
}

.sent-request-modal {
  position: absolute;
  min-width: 320px;
  height: 680px;
  overflow-y: auto;
  background-color: #f6f5f1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.sent-request-container {
  min-width: 320px;
  height: 482px;
  padding: 56px 32px 64px 32px;
}

.modal-send-request-title {
  margin-top: 107px;
  margin-bottom: 32px;
  color: #2d1b0d;
  font-family: var(--secondary-font-family);
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
}

.modal-send-request-text {
  color: #2d1b0d;
  /* font-family: 'Helvetica Neue', sans-serif; */
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 24px;
}
