/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./approach.css');
@import url('./services.css');
@import url('./reviews.css');
@import url('./form.css');
@import url('./blog.css');
@import url('./footer.css');
@import url('./header-menu.css');
@import url('./modal-backdrop.css');

:root {
  --secondary-font-family: 'Cormorant Garamond', serif;
  --accent-color: #b31719;
  --transition-duration-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #f6f5f1;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  width: 100%;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .container {
    width: 375px;
  }
}
