/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./approach.css');
@import url('./services.css');
@import url('./reviews.css');
@import url('./form.css');
@import url('./blog.css');
@import url('./footer.css');
@import url('./header-menu.css');
@import url('./modal-backdrop.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #210803;
  background-color: #f6f5f1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* :root {
  --main-color: #7e8fdd;
  --accent-color: #9cdfdf;
  --text-color: #242424;
  --background-color: #f8f9ff;
  --cards-color: #fdfdff;
  --dark-cards-color: #232330;
} */

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
}
